.titleAbout {
  text-align: center;
  text-decoration: underline;
}

.propietarios-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.propietario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
}
.propietario p {
  width: 50%;
  text-align: justify;
  line-height: 1.5;
}

.fotoAbout {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/sagulita-d8f9d.appspot.com/o/fotosWeb%2FviliEva.jpeg?alt=media&token=003deb49-ea27-40dd-854e-6c98101db9e3");
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 30em;
  margin-bottom: 20px;
}
.nomPropietario {
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .propietario p {
    width: 80%;
  }
  .fotoAbout {
    height: 20em;
  }
}