.titleCatering {
  text-align: center;
  margin-bottom: 1%;
  text-decoration: underline;
}

.catering {
  display: flex;
  height: 50vh;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 15px;
}

.foodTruckImage {
  background-image: url("../assets/foodTruck.jpeg");
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
  align-items: center;
}

.titleTextCatering {
  text-decoration: overline;
}
.foodTruckText {
  display: flex;
  flex-direction: column;
  font-size: large;
  justify-content: center;
  width: 30%;
  margin-left: 10%;
}
.foodTruckText p {
  opacity: 70%;
}

.cateringImage {
  background-image: url("../assets/catering.jpeg");
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
  align-items: center;
}
.cateringText {
  display: flex;
  flex-direction: column;
  font-size: large;
  justify-content: center;
  width: 30%;
  margin-left: 10%;
}
.cateringText p {
  opacity: 70%;
}
.privateCheffText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: large;
  width: 30%;
  margin-left: 10%;
}
.privateCheffText p {
  opacity: 70%;
}
.privateCheffImage {
  background-image: url("../assets/vilixeffprivat2.jpg");
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .catering {
    flex-direction: column;
    align-items: center;
    height: 80vh;
  }
  .cateringImage,
  .foodTruckImage {
    width: 100%;
  }
  .cateringText,
  .foodTruckText,
  .privateCheffText {
    width: 80%;
    font-size: medium;
    margin-left: 0px;
  }
  .privateCheffImage {
    width: 75%;
    

  }

  
}