.header {
  width: 90%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5ba73;
  color: white;
  margin-bottom: 2%;
}
.userIcon {
  font-size: 0.8em;
}
/* .logoSaGulita {
  padding: 10px;
  font-family: "Fira Sans", sans-serif;
  font-size: 2em;
  display: flex;
  margin-left: 1em;
  font-weight: bold;
} */
.logoSaGulita {
  padding: 10px;
  font-family: "Fira Sans", sans-serif;
  font-size: 2em;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.logoImg {
  border-radius: 30%;
  margin-right: 10px;
  width: 170px;
  height: 130px;
}
.heartIcon {
  margin-top: 35px;
  color: #e97777;
  margin-left: 10px;
}

.links {
  padding: 10px;
  display: flex;
  justify-content: center;
  word-spacing: 20em;
  font-size: 1.4em;
}
.linksText {
  text-decoration: none;
  color: white;
  margin: 0 30px;
}
.linksText:hover {
  text-decoration: underline;
  font-weight: bold;
}

.socialMedia {
  padding: 10px;
  text-decoration: none;
  font-size: 2rem;
}
.socialMedia a {
  color: unset;
  margin-right: 10px;
}
.iconLogOut {
  margin-right: 15px;
}
.iconLogOut:hover {
  cursor: pointer;
}