@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap");

body {
  background-color: white;
  font-family: "Fira Sans", sans-serif;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.saGulita {
  display: flex;
  height: 50vh;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 15px;
}

.saGulitaImage {
  background-image: url("../assets/edificioSaGulita.jpeg");
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
  align-items: center;
}

.title,
.titleMap {
  text-decoration: underline;
}
.saGulitaText {
  display: flex;
  flex-direction: column;
  font-size: large;
  align-items: center;
  justify-content: center;
  width: 30%;
  text-align: center;
  margin-left: 10%;
}
.saGulitaText p {
  opacity: 70%;
}

.foodImage {
  background-image: url("../assets/foodSaGulita.jpg");
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
}
.foodText {
  display: flex;
  flex-direction: column;
  font-size: large;
  align-items: center;
  justify-content: center;
  width: 30%;
  text-align: center;
  margin-left: 10%;
}
.foodText p {
  opacity: 70%;
}
.mapa {
  width: 80%;
  height: 100%;
}
.mapaText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin-right: 10%;
}
.mapaText p {
  opacity: 70%;
}
.mapaImage {
  width: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendarText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: large;
  width: 30%;
  text-align: center;
  margin-left: 10%;
}
.calendarText p {
  opacity: 70%;
}
.calendarImage {
  background-image: url("../assets/insideSaGulita.jpeg");
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
  align-items: center;
}
.gridMapa {
  display: flex;
  height: 50vh;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 4%;
  background-color: #daf5ff;
}

@media screen and (max-width: 768px) {
  .saGulita {
    flex-direction: column;
    justify-content: center;
    height: 70vh;
  }
  .saGulitaImage,
  .foodImage,
  .calendarImage {
    width: 100%;
  }
  .saGulitaText,
  .calendarText,
  .foodText {
    width: 80%;
    font-size: medium;
  }
  .saGulitaImage {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 380px) {
  
  .gridMapa {
    flex-direction: column-reverse;
    height: 80vh;
    align-items: center;
  }
  .mapaImage {
    width: 80%;
    height: 50vh;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
  }
  .mapaText {
    width: 80%;
    margin-left: 20px;
    margin-top: 10px;
  }
}
