.titleCatering {
  text-align: center;
  margin-bottom: 1%;
  text-decoration: underline;
}

.catering {
  display: flex;
  height: 50vh;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 15px;
}

.foodTruckImage {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/sagulita-d8f9d.appspot.com/o/fotosWeb%2FfoodTruck.jpeg?alt=media&token=7c7bfbcc-9790-48d2-923f-76a50ca88f46");
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
  align-items: center;
}

.titleTextCatering {
  text-decoration: overline;
}
.foodTruckText {
  display: flex;
  flex-direction: column;
  font-size: large;
  justify-content: center;
  width: 30%;
  margin-left: 10%;
}
.foodTruckText p {
  opacity: 70%;
}

.cateringImage {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/sagulita-d8f9d.appspot.com/o/fotosWeb%2Fcatering.jpeg?alt=media&token=c7610ff1-6976-4713-abb6-d98924da69a5");
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
  align-items: center;
}
.cateringText {
  display: flex;
  flex-direction: column;
  font-size: large;
  justify-content: center;
  width: 30%;
  margin-left: 10%;
}
.cateringText p {
  opacity: 70%;
}
.privateCheffText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: large;
  width: 30%;
  margin-left: 10%;
}
.privateCheffText p {
  opacity: 70%;
}
.privateCheffImage {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/sagulita-d8f9d.appspot.com/o/fotosWeb%2Fvilixeffprivat.jpg?alt=media&token=3d0944a4-6223-45f1-8ab2-484a7d583667");
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .catering {
    flex-direction: column;
    align-items: center;
    height: 80vh;
  }
  .cateringImage,
  .foodTruckImage {
    width: 100%;
  }
  .cateringText,
  .foodTruckText,
  .privateCheffText {
    width: 80%;
    font-size: medium;
    margin-left: 0px;
  }
  .privateCheffImage {
    width: 75%;
    

  }

  
}