@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  margin-top: 0px;
}
.header {
  width: 80%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #454545;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
}

.logoSaGulita {
  padding: 10px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 2em;
  display: flex;
}
.heartIcon{
  margin-top: 35px;
  color: red;
  margin-left: 10px;
}

.links {
  padding: 10px;
  display: flex;
  justify-content: center;
  word-spacing: 20em;
  font-size: 1.4em;
}

.links p {
  margin: 0 30px; /* Agrega 10px de margen horizontal */
}

.socialMedia {
  padding: 10px;
  text-decoration: none;
  font-size: 2rem;
}
.socialMedia a {
  color: unset; /* Quita el color de link */
}

