@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap");

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}
.header {
  width: 80%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #89b5af;
  color: white;
}

.logoSaGulita {
  padding: 10px;
  font-family: "Fira Sans", sans-serif;
  font-size: 2em;
  display: flex;
  margin-left: 1em;
  font-weight: bold;
}
.heartIcon {
  margin-top: 35px;
  color: #e97777;
  margin-left: 10px;
}

.links {
  padding: 10px;
  display: flex;
  justify-content: center;
  word-spacing: 20em;
  font-size: 1.4em;
}

.links p {
  margin: 0 30px;
}

.socialMedia {
  padding: 10px;
  text-decoration: none;
  font-size: 2rem;
}
.socialMedia a {
  color: unset;
  margin-right: 10px;
}
.footer {
  width: 80%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #89b5af;
  color: white;
}
.textFooter {
  text-align: center;
  flex-grow: 1;
}
.saGulita {
  display: flex;
  height: 100vh;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: space-between;
}

.saGulitaImage {
  background-image: url("./assets/edificioSaGulita.jpeg");
  background-size: cover;
  background-position: center;
  width: 50%;
  align-items: center;
  margin-right: 20px;
}

.saGulitaText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-left: 20px;
  text-align: center;
}
.foodImage {
  background-image: url("./assets/foodSaGulita.jpg");
  background-size: cover;
  background-position: center;
  width: 50%;
  align-items: center;
}
.foodText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-right: 20px;
  text-align: center;
}
.mapa {
  width: 500px;
  height: 50%;
}
.mapaText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-left: 20px;
  text-align: center;
}
.mapaImage {
  width: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
